<footer>
    <div class="row" style='position:fixed;bottom:15px;left:5%; background:white;width:90%;'>
			<hr class="colorgraph">
                <a class="text-muted" href="#">Terms </a>
                <a class="text-muted" href="#">Privacy </a>
                <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                          <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
                          <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
                          <a href="mailto:mail@example.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
          </div>
</footer>


    <!-- jQuery -->
    <script src="/storage/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/storage/js/bootstrap.min.js"></script>
    <script src="/storage/js/clipboard.min.js"></script>
    <script src="/storage/js/app.js"></script>
</body>
</html>
